*
  box-sizing: border-box
body
  padding: 0
  margin: 0
h2,h3 
  margin: 0
  padding: 0
.payment
  padding-top: 25px
  padding-bottom: 19px
.content
  &-wrap
    max-width: 584px
    height: 654px
    border: 2px solid rgba(83, 88, 105, 0.1)
    border-radius: 5px
    padding: 33px 30px
.number
  display: flex
  justify-content: center
  align-items: center
  width: 37px
  height: 37px
  background: #221E8A
  border-radius: 5px
  color: #fff
  font-family: sans-serif
  font-weight: 700
  margin-bottom: 33px
.title
  &-wrap
    display: flex
.title
  font-size: 18px
  margin-top: 7px
  margin-left: 19px
.subtitle
  font-size: 12px
  font-weight: 700
  color: #3c3c3c
  opacity: 0.7
.check
  &-size
    width: 16px
    height: 16px
.line
  border-bottom: 1px dashed #ced4da
  margin-top: 30px
  margin-bottom: 25px
  &-cash
    margin-top: 25px
    margin-bottom: 16px
.card
  &-form
    padding-left: 0
    &__child
      padding-right: 0
  &-link
    display: flex
    justify-content: space-between
    list-style: none
    padding-left: 0
    &__item
      display: flex
      align-items: center
      justify-content: center
      width: 88px
      height: 54px
      border: 1px solid #ced4da
      &:hover
        background: rgba(108, 205, 108, 0.05)
        border: 2px solid rgba(108, 205, 108, 0.5)
.child 
  border-right: 0
.child-first
  border-radius: 5px 0px 0px 5px
  border-right: 0
.child-last
  border-radius: 0px 5px 5px 0px
  border-left: 0
.summary
  background: url('../img/bg.png')
  background-size: cover
  max-width: 408px
  height: 494px
  padding: 23px 30px
  h2 
    margin-left: 0
.image
  display: flex
  align-items: center
  justify-content: center
  width: 50px
  height: 50px
  background-color: #fff
  margin-top: 26px
  margin-right: 20px
.discount
  font-size: 14px
  margin-top: 14px
  &-title
    font-size: 14px
    margin-top: 24px
    margin-bottom: 10px
  &-cash
    font-size: 14px
    font-weight: 700
    color: #62C02C
.numbs
  color: #0C2564
  border: 0
  background: none
  width: 32px
  line-height: 0.2
  font-family: sans-serif
  font-size: 14px
  font-weight: 700
  text-align: center
.counter
  &-btn 
    width: 18px
    height: 18px
    line-height: 0
    opacity: 0.5
    padding-right: 12px
    background-color: #fff
    border: 1px solid rgba(0, 0, 0, 0.1)
.price
  display: flex
  justify-content: space-between
  align-items: center
.old
  &-cash
    text-decoration: line-through
    color: #BBBBBB
    font-weight: 700
    font-size: 12px
    margin-right: 12px
.cash
  color: #0C2564
  font-size: 14px
  font-weight: 700
  &-total
    font-size: 24px
.descriptions
  color: #BBBBBB